.app {
  text-align: center;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.app__container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-areas: "header" "main";
  width: 90%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

}

.button-container {
  margin-bottom: 10px
}


.phrase-change-button {
  color: black;
  /* Otros estilos del botón */
}







footer {
  margin-top: auto;
}